.panda-slide .carousel-item{
    background-color: #FEEAE9;
    border-radius: 10px;

}
.panda-card-footer{
    border:0;
    background-color: white;
}
body{
    background-color: #DB9882;
}
.panda-nav:hover{
    background-color: cornsilk;
    font-size: 20px;
    font-weight: bolder;
}
